[2014-03-10 16:07] rgerhards opened #1 "make librelp work on platforms with too-old gnutls (without TLS)"
librelp requires GnuTLS 2.9.10 in order to do decent certificate checks. Right now, it does not successfully execute when a lower version is installed. Unfortunately, RHEL 6 does provide an older version, so librelp cannot be used at all on that platform. In order to provide at least basic RELP functionality, we should gracefully degrade functionality and just disable TLS on such platforms (but ke

[2014-03-13 11:13] #1 closed, assigned to nobody

[2014-03-28 13:32] Whissi opened #2 "Don't override {C,LD}FLAGS"
Hi,

this is the same issue described in https://github.com/rsyslog/liblogging/issues/15.

[2014-05-26 10:58] janorn opened #5 "Compile librelp on solaris"
Doesn't look like it is possible to build relp on solaris.

Configure:

[code]

Make:

[code]

[2014-07-04 22:14] dev-zero opened #6 "Make gnutls mandatory/remove --{enable,disable}-tls from configure"
`src/tcp.h` always requires gnutls, so librelp can not be built without it anymore as it seems.
Therefore the check in `configure.ac` is wrong.

[2014-07-11 06:46] SuperJuice opened #7 "Unable to configure RELP (imrelp) module to bind to single IP"
Apologies in advance if this is a limitation of rsyslog not librelp.

Currently it appears that when you enable librelp (imrelp) in rsyslog that it listens on all available IPs and there is no way to restrict this to listening on a single IP.

Would it be possible to add a feature to librelp so an IP can be specified along with the port (currently implemented) to restrict where the server listens

[2014-10-12 13:39] mathias-nyman opened #8 "Python wrapper and example code"
I've been writing a python wrapper for librelp: https://github.com/mathias-nyman/pyrelp.

As there's no example code for librelp, I had to start by figuring out how the interface is supposed to be used:
https://github.com/mathias-nyman/pyrelp/blob/master/test/sender/send.c
https://github.com/mathias-nyman/pyrelp/blob/master/test/receiver/receive.c

Are those examples something you would like to ta

[2014-12-01 08:54] #8 closed, assigned to nobody

[2015-01-26 18:42] dpkirchner opened #10 "Infinite loop when the tcp send buffer fills"
I believe this is the cause of the problem reported here:

http://lists.adiscon.net/pipermail/rsyslog/2013-November/034869.html

where rsyslogd, acting as a client, tries to write a log message to the server and another rsyslogd, as a server, tries to write an acknowledgement to a client and fails. Both sides can end up with a full write buffer and thus end up deadlocked.

I think the problem star

[2015-03-27 14:10] mathias-nyman opened #11 "TLS: Validate solely against caCert if permittedPeers is empty"
Hi,

The option to validate the TLS peer **solely** based on an X.509 certificate chain (caCert) is not supported in librelp.

The current logic is:
  1) Verify the peer certificate against the configured caCert (gnutls_certificate_verify_peers2 does it)
  *and*
  2) Verify the peer certificate against the configured permittedPeer

I propose the logic to be:
  1) Verify the peer certificate agains

[2015-03-27 19:14] mathias-nyman commented on #11
Hi again,

Browsed the code some more. I see now that you never intended to use caCert as a trust chain for the _peer_, only as the ca bundle containing the trust chain for the local instance.

Yet my feature request remains. Implementation wise it should be a _new_ configuration parameter for tls, instead of assuming caCert also being the trust chain for the peer.

Let me know what you think,
: M

[2015-04-30 12:53] jeegit opened #12 "rsyslog 5.8/7.4/8.9 imtcp/TLS hangs on dropped packages"
We have a central rsyslog server (RHEL6 - 5.8.12) collecting logs from ca. 40 application servers using imtcp over TLS. Under heavy network I/O, rsyslog suddenly stopps logging anything and consumes 100% of one CPU in one thread.

Attaching strace revealed that it runs in a busy loop
[code]
in that thread.

I was able to reproduce this with the following test setup: I used two RHEL/CentOS6 machine

[2015-04-30 15:04] #12 closed

[2015-04-30 15:05] jeegit commented on #12
Moving to the right place (rsyslog/rsyslog).

[2015-05-27 01:58] Rocco83 opened #13 "relp 100% cpu - rsyslog stop after start"
Hi,

The issue i have faced:
- 100% on rsyslog server with imrelp, and just imrelp ad addiction to the standard debian jessie or debian wheezy configuration.
  But the problem seems to be the client with 1.0.0 librelp installed.

The problem is quite described in the two links below:
http://lists.adiscon.net/pipermail/rsyslog/2013-July/033303.html
http://bugzilla.adiscon.com/show_bug.cgi?id=208

I

[2015-06-10 00:42] kamusin opened #14 "infinite loop wildcard ssl certificate"
For some reason our rsyslog clients are entering in a never ending loop when we are using a commercial wildcard certificate. These are the last messages before to use 99% CPU and entering to this loop (I had to make a hard reboot to recover this server):

6176.209422062:main Q:Reg/w0  : actionDoRetry: action 0 action->tryResume returned -2006
6176.209424345:main Q:Reg/w0  : actionDoRetry: action 0

[2015-07-21 12:51] serathius opened #16 "No way to shutdown gracefully server without connected client"
Setting stop only works when server is connected to client.
In case when I want to replace server by load balancing and redirecting logs to new server instance, old server is left without connected client. In that case only way to stop server is SIGKILL or connecting fake client.

Similarly there is no way of turning off server, that never had any client connected to it.

[2015-07-21 13:20] serathius opened #17 "Client large message retransmission with fast server"
Configuration:
- Client Rsyslog v8.11 with rsyslog-relp librelp v1.2.5
- Server pyrelp script with librelp(tested versions 1.1.4, 1.2.7)
  Scenario:
- Replacing old server with new one by load balancing
- Rsyslog receives 100 simple logs per second.
- Old server is stopped using SIGTERM, which uses relpEngineSetStop to let server finish remaining logs and exit.

With slow server rsyslog groups log

[2015-07-30 14:52] lemsx1 opened #18 "librelp crashes when enabling keepalive on rsyslog 8.11"
Refer to https://github.com/rsyslog/rsyslog/issues/459

Essentially, the dbgprint() call attempts to read more memory than it should causing rsyslog 8.11 to exit with sigsev.

This fixes the problem:

[code]

[2015-07-31 13:56] #18 closed

[2015-07-31 20:11] lemsx1 commented on #18
Please note that the other calls to dbgprint also make the library crash. For example, if you cannot set probes, interval or time, the library crashes respectively for each. After specifying the settings, the only dbgprint statement used is this last one.

[2015-12-08 10:47] schlitzered commented on #10
We where running into the same issue. The receiving RSysLog had a im:imrelp thread that was trying to send data to a remote RSysLog, all tries triggered a "EAGAIN" error.

as a quick fix, we have switched back to plain TCP transport via "omfwd"

[2015-12-08 10:51] rgerhards commented on #10
I think this is fixed and the issue accidently left open. Can you verify with 8.14.0?

[2015-12-08 10:55] schlitzered commented on #10
we are running 8.14.0 on all servers, the OS is Centos 7 for the receiving part, and Centos 6 for the sending part. RSysLog is taken from the RPM repo provided by the RSysLog project itself.

If it helps, i can configure the cluster to use relp again, and and create Core Dumps of the receiving and the sending RSysLog process. If you need something different, just let me know.

[2015-12-15 23:24] Whissi commented on #6
This is now fixed in v1.2.9 with commit 517501bd7650f4.

[2016-01-15 22:34] abiacco commented on #6
This fix is much appreciated. Thank you.

[2016-03-24 15:49] jeanpaulgalea opened #25 "relp tls fingerprint authentication"
Would you consider adding a feature to match tls.permittedpeer fingerprints with hostnames?

Currently if you have a list of peers using omrelp to write to a "master" node, which is using imrelp and tls.authmode="fingerprint" with a list of tls.permittedpeer fingerprints, any client peer can masquerade as any other client.

To avoid this we can check if $hostname and $fromhost-ip match, but it wou

[2016-03-24 15:54] jeanpaulgalea opened #26 "relp tls.permittedpeer sha256?"
Would you consider adding support for SHA256 fingerprints for tls.permittedpeer list?

[2016-05-14 04:49] nbrownus opened #31 "Provide dbgsym packages in adiscon ppa"
Not sure if this is the right place but `rsyslog` provides dbgsym packages and it would be awesome if `librelp`, as well as all the other support libraries, did as well.

[2016-06-08 17:00] rgerhards opened #34 "librelp in thight loop when no fds available on new connection"
If the process can no longer accept new connections (via ```accept```) because it has reached its file handle maximum, librelp runs in a thight loop until either the client connection request is aborted or a file handle becomes available.

This happens due to the fact that we get event notifications on connection requests. As we can't satisfy it, we librelp always retries. Unfortunately, there is

[2016-06-20 15:55] rgerhards opened #37 "do not accept more than one "open" on a connection"
Once a connection is established, further "open" commands are not to be accepted. Currently, librelp does not check this condition.

[2016-06-22 08:27] rgerhards opened #38 "replace select() by poll in client code / fix potential segfault"
the client uses ```select()``` to wait on  a single file descriptor. However, this descriptor can be larger than 1023, which can cause select to abort (even though we only have that sole fd inside the select set). The can be mitigated by using ```poll()```. epoll is overkill here, as we just always wait on a single descriptor, and poll is also much more portable.

Note that the relp server code al

[2016-06-22 09:12] #38 closed

[2016-06-22 09:16] #37 closed

[2016-06-22 10:30] #34 closed

[2016-07-16 15:13] dud225 opened #47 "Duplicate messages whenever rsyslog-server is restarted"
Hello

I'm noticing severe message duplication whenever the rsyslog server is restarted when using RELP.

Here are the step to reproduce :
- setup rsyslog with RELP and send 2 messages A and B from rsyslog-client to ensure everything is OK
- restart rsyslog server
- send message C, rsyslog-client doesn't send anything because of TLS connexion breakage
- send message D, this time the connexion is r

[2016-07-25 19:58] rtkpmcalpine opened #48 "Server configured to use TLS accepts logs from any client with a self-signed cert"
While evaluating librelp I've discovered a bug where any client is able to send a server messages, even though the server is configured to validate the client's certificate and has permittedpeer set.

My desired configuration is to have both client and server validate each others' certificates, and validate their CN against the names in the tls.permittedpeer list.

The behaviour I observed is:
- t

[2016-11-14 08:43] rgerhards commented on #5
I just merged #49, which looks like it addresses the same thing.

[2016-11-14 09:23] janorn commented on #5
It sure does!
Thanks

[2016-11-14 09:23] #5 closed

[2017-01-13 17:53] dud225 opened #56 "Duplicate logs when using RELP over TLS after connexion breakage"
Hello

I've observed duplicate logs when using RELP on top of TLS connection whenever there is a connection breaks. This behaviour doesn't happen on non-TLS setup.

RELP client displays from times to times messages related to GnuTLS :
[code]
The message is received by the serveur though.

After a connection breakage (server restart in my case), I see
[code]

and then some messages are written twic

[2017-02-20 07:06] #47 closed

[2017-02-22 13:59] jvymazal opened #57 "Please make librelp compliant to crypto-policy"
Usually, crypto-policies (such as https://fedoraproject.org/wiki/Packaging:CryptoPolicies) require among other thing GnuTLS libs to use default TLS priority. This is currently not the case in librelp

[2017-03-10 13:05] vlnofka opened #59 "improper datalen validation"
Client sending data to librelp based server can trigger memory leak in relpFrameProcessOctetRcvd.

While receiving frame there is memory allocation before actual sanity check if payload length is less than maximum payload length.

relpframe.c
[code]

Valgrind result
[code]

Steps to reproduce:

- Use example code for receiving data or configure rsyslog for accepting relp connections.
[code]
- Send

[2017-03-10 13:48] vlnofka opened #60 "relpFrame_t is not properly freed while handling protocol errors"
Receiving relp frames are not correctly deallocated while handling protocol errors resulting in memory leak of dirty pages thus this issue is more severe issue than #59 especially over longer periods of time.

Structure relpFrame_t isn't properly freed.

[code]

Steps to reproduce:

- Use example code for receiving data or configure rsyslog for accepting relp connections.
[code]
- Send relp messag

[2017-04-07 23:31] xrl opened #61 "Segfault in librelp-dev from v8-stable ppa"
We tried deploying a new from-source build of rsyslog and our scripts installed the latest `librelp-dev`, now we see instability and crashing after 30 seconds of rsyslog uptime.

[code]

Here is our Dockerfile for building rsyslog:

[code]

The image was rebuilt yesterday so it would be whatever `librelp-dev` was on the `ppa:adiscon/v8-stable` on April 6th, 2017.

[2017-09-27 14:59] kortemik opened #64 "rebindinterval causes segfault"
[code]
gdb output
[code]

[2017-09-28 16:58] rgerhards commented on #64
looks like a duplicate of https://github.com/rsyslog/librelp/issues/64

[2017-09-28 16:59] rgerhards commented on #64
looks like a duplicate of https://github.com/rsyslog/rsyslog/issues/120

[2017-09-29 10:01] rgerhards commented on #64
It's actually a bug in rsyslog's omrelp, not in librelp itself. Solution is available in https://github.com/rsyslog/rsyslog/issues/120

So closing this issue here.

[2017-09-29 10:01] #64 closed

[2017-10-13 08:16] rgerhards commented on #48
@PascalWithopf could you see if you can reproduce this?

[2017-10-20 06:19] PascalWithopf commented on #48
I tried to reproduce this, but it is working fine.
Is there anything else I should to know about your configuration?
@rtkpmcalpine could you provide me with your debug logs, especially from the server.

[2017-11-16 09:29] kaizera071 commented on #48
Hi there i had the same issue, and I find out that the problem is not in librelp.
In my case the problem was in gnutls (3.0.11 stock gnutls version in ubuntu 14.04 trusty), and after update with the newest gnutls version the problem disappeared.

[2017-11-17 10:15] KatMisato opened #66 "replsess.c - Assert statement modifies 'sessState'."
Found via cppcheck, running on librelp-1.2.14 src.
File: \src\relpsess.c
Line: 649
`assert(pThis->sessState = eRelpSessState_BROKEN);`

After this assert pThis->sessState sets in eRelpSessState_BROKEN. I think, it's could be a problem with using `relpSessTryReestablish`

[2017-12-19 11:04] voelzmo commented on #48
Hey @rgerhards and @PascalWithopf I'm not sure why this issue hasn't seen much attention so far, but the initial bug report sounds quite disturbing to me. We have two different configurations, one of them shows the above issue, while the other doesn't. Could you please have a more detailed look why this might be the case?

Configuration 1, showing the above issue
[code]

Configuration 2, *not* sho

[2017-12-19 11:26] rgerhards commented on #48
@voelzmo The problem is that we cannot reproduce it... Could you contribute a debug log and build rsyslgo from source? If so, we could go through a couple of iterations trying to nail it in your environment.

[2018-01-05 12:01] landzhev commented on #48
Hi @rgerhards and @PascalWithopf,

We are using rsyslog in our solution and we have reproduced the issue in our test landscapes.
It would be great if we have an online meeting and try to reproduce it together in your test environment.
We also considered adding additional debug logs, but that would cost a lot of effort as our C expertise is small.
Can we schedule a meeting? We can do it at whatever

[2018-03-21 08:31] #66 closed

[2018-03-21 08:41] rgerhards opened #71 "CI: add static analyzer run"
best via rsyslog development container --> see rsyslog main project

[2018-03-21 08:47] rgerhards opened #72 "add our own testbench"
righ now, we use the rsyslog testbench for dynamic tests. While this works, it has quite some quirks (e.g. see https://github.com/rsyslog/librelp/pull/58). So let's do a dedicated testbench.

[2018-04-16 10:39] rgerhards opened #81 "add capability to truncate message on reception"
According to the spec, oversize messages should be rejected by closing the session. However, this causes issues in some cases, e.g. see https://github.com/rsyslog/rsyslog/issues/2633. So need to add an option to permit truncating messages.

[2018-04-17 10:16] rgerhards commented on #60
fixed via #77

[2018-04-17 10:16] #60 closed

[2018-04-18 06:13] rgerhards commented on #71
done yesterday

[2018-04-18 07:22] rgerhards opened #86 "change API to use "const char" for strings that are actually constant"
Unfortunately the API did expose them as char. This is bad from a "clean compile" perspective, but may also convey the idea that these strings are actually modifiable. That is not the case, because it's almost constant string, and so any try to modify them can result in a segfault (depending on platform).

We need to check, though, if fixing this is causing severe trouble. If so, we need to re-eva

[2018-04-19 11:09] vlnofka commented on #60
Looks good. Thank you.

[2018-05-03 14:26] rgerhards commented on #59
fixed by #77 (and maybe others as well)

[2018-05-03 14:26] #59 closed

[2018-05-07 07:17] rgerhards commented on #72
added in 1.2.16

[2018-05-07 07:17] #72 closed

[2018-05-07 07:18] rgerhards commented on #61
I assume this is fixed by now. If not, please re-open.

[2018-05-07 07:18] #61 closed

[2018-05-07 07:18] #6 closed, assigned to nobody

[2018-05-07 09:46] rgerhards commented on #71
done

[2018-05-07 09:46] #71 closed

[2018-05-07 09:49] rgerhards commented on #26
should now be doable via https://github.com/rsyslog/librelp/pull/55

[2018-05-07 09:49] #26 closed

[2018-05-07 09:49] rgerhards commented on #31
@friedl can you turn this on?

[2018-05-07 10:44] rgerhards commented on #86
moving this to 1.2.17 milestone as it requires API user changes, something we do not want to do shortly before rsyslog release; also want to make sure that all existing clients can enjoy the enhancements and fixes in 1.2.16 without change.

[2018-05-07 10:51] rgerhards commented on #56
RELP guards against message loss, but it does so at the expense of some potential message duplication.

[2018-05-07 10:51] #56 closed

[2018-05-07 12:59] #2 closed

[2018-05-15 20:10] mbiebl opened #99 "do not export digest_* symbols exported"
When building librelp 1.2.6 I noticed that the library exposes two symbols which are not part of the public API
[code]

Please consider hiding those symbols from the ABI.

You have several ways to achieve that:

a/ Mark the functions as static
b/ Use libtools -export-symbols-regex (you could match on the relp* prefix
c/ Use a symbols file.

c/ is the most comprehensive solution but requires the mo

[2018-05-15 20:13] mbiebl commented on #99
https://autotools.io/libtool/symbols.html

b/ should be as simple as

[code]

[2018-05-17 14:08] Whissi opened #100 "configure: valgrind enable logic is flawed"
The valgrind logic from 88600be7bb5582b5a63dcfe3b13da561608e3cfe is flawed:

Even when no valgrind is actually available, valgrind will be enabled resulting in [test failures](https://bugs.gentoo.org/655952).
[code]

[2018-05-17 14:11] rgerhards commented on #100
The assumption is that you have valgrind if you enable that option. Would it be possible that you propose a patch to detect if it is missing? That would be great.

[2018-05-17 14:17] Whissi commented on #100
Yeah, currently looking into this. I think you want:

If no configure option set, try to find valgrind and enable valgrind usage if valgrind is available. Otherwise disable valgrind usage like when user has explicit disabled valgrind usage.

[2018-05-17 14:30] rgerhards commented on #100
Yes

Sent from phone, thus brief.

Thomas Deutschmann <notifications@github.com> schrieb am Do., 17. Mai 2018,
16:24:

[2018-06-18 07:43] #100 closed

[2018-06-28 08:58] rgerhards opened #108 "do not call strerror()"
This function has portability issues. There already is a replacement in librelp, but it is not consistently used. Do that.

see also https://github.com/rsyslog/librelp/pull/106

[2018-06-28 11:04] #108 closed

[2018-06-28 11:07] #99 closed

[2018-06-28 11:10] rgerhards commented on #48
@alorbach can you verify (best with a test?) that this does at least not happen if build with openssl support?

[2018-07-02 23:07] Whissi opened #112 "tls-basic.sh test failure: gnutls error -43: Error in the certificate"
[code]

[2018-07-02 23:08] Whissi opened #113 "tls-wrong-permittedPeer.sh test failure: gnutls error -43: Error in the certificate."
[code]

[2018-07-02 23:23] Whissi opened #114 "Many jump-misses-init warnings"
[code]

[2018-07-02 23:28] Whissi commented on #113
Seems to be fixed in git master...

[2018-07-02 23:28] Whissi commented on #112
Seems to be fixed in git master...

[2018-07-02 23:41] Whissi commented on #113
Ah OK. Tests are failing because certificate used for testing isn't valid anymore. Was fixed via 8491c8a0bcbb89c03875f128ed29baf9c05c4e79.

[2018-07-02 23:41] #113 closed

[2018-07-02 23:41] Whissi commented on #112
Ah OK. Tests are failing because certificate used for testing isn't valid anymore. Was fixed via 8491c8a0bcbb89c03875f128ed29baf9c05c4e79.

[2018-07-02 23:41] #112 closed

[2018-07-03 10:17] Whissi commented on #114
Gentoo has most recent *autoconf-archive* package (2018.03.13) which added *jump-misses-init* via https://github.com/autoconf-archive/autoconf-archive/commit/a9ab07454adc24bf2eb73f1a8475ef2461c6803f

[2018-07-03 10:57] rgerhards commented on #114
I see... can you provide me some instructions what I need to do to install from source? This seems not to be covered. I used the package that you created (thx again!), but install from source would be easier for updates.

[2018-07-10 06:11] code-share1 commented on #114
I encounter the same error, BTW I use 1.2.16.

[2018-07-10 06:21] rgerhards commented on #114
1.2.16 of what?

[2018-07-10 08:07] code-share1 commented on #114
librelp 1.2.16.

[2018-07-12 15:01] lexelby commented on #13
We're running into this problem as well.

The patch in the debian bug you linked to highlights the problem.  Here's what happens:

1. `relpSendqSend()` is called.
2. `relpSendqSend()` enters the `while` loop.
3. `relpSendqSend()` calls `relpSendbufSend()`.
4. `relpSendbufSend()` calls `relpTcpSend()`.
5. `relpTcpSend()` calls either `gnutls_record_send()` or `send()`
    * in my case, it's `gnutls

[2018-07-12 15:10] rgerhards commented on #13
I am not sure why this was never worked on - possibly overlooked. I need to dig more into the issue, but unfortunately cannot do right now. A core question to ask is if the code at this point should really be using non-blocking mode (the client part does not!).

[2018-07-12 15:14] lexelby commented on #13
Got it.  If you can't work on it, then I'll need to do so and fork internally to solve our current logging problems related to this.  I'll file a PR and look forward to your input when you're available in the future.

Good question!  I would imagine switching to blocking IO would require a much more significant restructuring than just fixing this bug.  At the very least, `relpSendqSend()` would no

[2018-07-12 15:15] lexelby commented on #13
BTW, thank you for your quick response!

[2018-07-12 15:18] rgerhards commented on #13
thx, much appreciated!

Actually, the code has server and client functionality. The server part is non-blocking and the client part is (should be) blocking. So it's not a design change, but maybe an implementation flaw. I don't know it is, but this came up immediately when I read the description.

[2018-07-12 15:20] lexelby commented on #13
Interesting.  I assumed that both the client and server use `relpSendqSend()`, but I hadn't verified yet.  That's where my deadlock theory came from.  Is that incorrect?

[2018-07-12 15:24] rgerhards commented on #13
I haven't worked on the code for quite a while. To be 100% sure I need to verify that myself by following the call flow. But I think a deadlock between a sender and receiver is pretty unlikely.

In essence, IIRC, the main difference is how the socket is created. The client should do it in a blocking way, the server part not.

Right now I am deep inside a big CI change, so I cannot go away from tha

[2018-07-12 15:27] lexelby commented on #13
Got it, thanks!  No pressure, I'll do the digging.

In any case, deadlock isn't really required to cause the problems we're seeing at Fastly.  Anything can cause a socket to start throwing EAGAIN from a write.  I'll try to catch it next time it happens and see if I can shed some more light on what's going on, and if I find anything, I'll report back.

[2018-07-12 15:30] rgerhards commented on #13
full ACK! the remote peer seems to be unresponsive, and so this goes into the loop. Maybe one can reproduce it by opening a connection to another instance inside a VM and then suspending that VM. I'd think that this might be the trigger. May be harder to achieve if the server part actually is the culprit, as the window must fill up with acknowledgements, and to do so the client must send quite som

[2018-07-12 16:06] lexelby commented on #13
Adding some notes here, no response needed from you @rgerhards since you're busy.

The client does indeed use blocking I/O.  It uses a separate function call tree entirely and doesn't call `relpSendqSend()` like the server.  It calls `relpSendbufSendAll()` which does a blocking write and will also `poll()` while waiting to write more if it can't send.

Theoretically this doesn't eliminate the poss

[2018-07-17 09:51] rgerhards opened #116 "openssl mode: add capability to fine tune protocols, ciphers etc"
this should be done via a (set of) strings to be passed in (much like gnutls priority string).

[2018-07-19 12:10] #13 closed

[2018-07-24 09:13] Mingli-Yu commented on #114
https://github.com/rsyslog/librelp/pull/117

[2018-08-02 07:25] #114 closed

[2018-08-06 13:06] perlei commented on #7
This should now work, implemented in this PR: https://github.com/rsyslog/librelp/commit/96eb5be3323d3702fde15982cf57162cf4816c6e

[2018-08-18 14:23] jgerhards opened #121 "Make distcheck does not work"

[2018-08-18 14:46] rgerhards commented on #121
@PascalWithopf please have a look. I guess the first thing that needs to be done is do proper error checks and error messages inside the testbench tools.

[2018-08-19 10:29] rgerhards opened #122 "testbench: test for disabled features are executed"
at least if SSL is disabled, the test are still executed, and of course fail ;-)

[2018-08-19 10:29] rgerhards commented on #122
@PascalWithopf pls have a look

[2018-08-22 07:54] PascalWithopf opened #124 "openssl: certificate validation of broken certificate is successful"
Steps to reproduce:

* configure librelp with ```--enable-tls-openssl```
* execute test ```tls-basic-brokencert.sh```

The certificate validation will be successful and therefor the test will fail.

[2018-08-22 09:25] #121 closed

[2018-08-23 07:03] alorbach commented on #124
Tried to reproduce. Commit 199797e3e6056ac00313e90d580323a101161485  tried to get output of startup_receiver into "error.out.log". However this fails as "startup_receiver" is hardcoded to pipe the output into "librelp.out.log".  This needs to be fixed in the test-framework.sh or changes from commit 199797e3e6056ac00313e90d580323a101161485 need to be reserved.

As a result error.out.log is simply e

[2018-08-24 06:49] #124 closed

[2018-09-10 14:46] andreasstieger opened #127 "relpTcpConnect: message could be truncated"
In [tcp.c](https://github.com/rsyslog/librelp/blob/v1.2.17/src/tcp.c#L3067-L3069) both `errmsg` and `errStr` are defined as `char[1024]`, but `errStr `is printed with the `error connecting: '%s'` format, which may cause the message to be truncated.

[code]

Is this intentional?

[2018-09-17 10:38] rgerhards commented on #127
Well, actually kind of. We do not care if it is truncated and it really doesn't hurt. Nevertheless, to get rid of the compiler warning we will probably reduce one buffer size.

[2018-10-02 20:29] andreasstieger opened #128 "librelp 1.2.18 release not in git or tagged"
A librelp 1.2.18 release was [announced](https://www.adiscon.com/rsyslog/librelp-1-2-18-released/) is being distributed on http://rpms.adiscon.com/ with the following changelog:

[code]

Please tag it in git.

[2018-10-19 07:45] perlei opened #129 "Multiple open commands during reconnects"
Hi,

Im using relp over a TCP proxy, and im getting problems duing reconnections attempts.
The problem is that the TCP proxy first establishes the TCP connection, and when it
realizes that the destination is not reachable it closes the connection.

The problem is that relp send the "open" command every time the connection is made, and its
stored as a unacked message. So when the connection finally

[2018-10-19 07:58] rgerhards commented on #129
TBH I think the proxy is malfunctioning here. If it can't connect and signals "connection broken" to the peer, it needs to discard the message IMHO.

[2018-10-19 08:12] perlei commented on #129
Well, you could argue that librelp only should send one "open" when a new tcp-connection is established. And not include the open from any previous connection. Since the relp-server is only expecting one.

[2018-10-19 08:39] rgerhards commented on #129
maybe I don't understand your report. It sounds to me like the proxy buffers open commands. If librelp actually buffers the open commands, that would indeed be a librelp bug. librelp should discard the open if the connection fails.

If in doubt, can you post a network packet trace and a rsyslog debug log?

[2018-10-19 12:33] perlei commented on #129
created with a bit older version, but behaviour is the same.
[stripped.txt](https://github.com/rsyslog/librelp/files/2495795/stripped.txt)

[2018-10-19 12:36] perlei commented on #129
As a quickfix could i comment out https://github.com/rsyslog/librelp/blob/master/src/copen.c#L136-L141 ? or will that have unknown consequences to allow multiple open on the server side?

[2018-11-06 14:57] Kdecherf commented on #129
Hello,

I see the same issue with version `1.2.12-1+deb9u1`

[2018-11-14 10:45] rgerhards opened #130 "librelp does not emit error messages"
... in many important cases, e.g. connection failure or breakage.

see also https://github.com/rsyslog/rsyslog/issues/3294

[2018-11-14 11:56] rgerhards commented on #129
sorry, many things in between...

I would say it's not totally safe. But I hope to find the root cause now. It's unfortunately pretty hard to craft a test that creates this problem. I still try...

[2018-11-16 17:29] rgerhards commented on #129
@perlei thx for the suggested patch. I have create a work-around based on it in #138. Please note that it is different from your original patch in that it terminates after sending the (fake) success response. This is required.

[2018-11-16 18:21] perlei commented on #129
Awsome, thx for your efforts.

[2018-11-16 18:32] perlei commented on #129
For reference I think logstash relp input has the same problem https://github.com/logstash-plugins/logstash-input-relp/issues/22 so i guess a similar fix should be done by them, to allow multiple open throughout the session.

[2018-11-19 15:14] rgerhards commented on #129
@perlei sorry, the server-side patch does not work. Unfortunately, there is no server-side workaround: whatever we do, small changes need to be made to the client code as well. PR #141 now fixes this on the client side (hopefully this time really, as tests are still under development). That should solve all issues, also with the logstash receiver. The problem actually is client-side only. I just t

[2018-11-19 16:18] #129 closed

[2018-11-23 16:38] rgerhards commented on #122
fixed with one of the recent commits

[2018-11-23 16:38] #122 closed

[2018-11-23 16:41] rgerhards opened #149 "in openssl mode, cert name validation does not work properly"
In theory, this is caught by test ./tls-basic-vg.sh, but unfortunately the error is not detected by the test due to a failure in the test itself. PR #148 fixes that test bug and now experiences the problem. In order to make merging #148 possible, the test does still not fail (keeping existing bad behavior) but emits a warning message.

It looks like the cert common name (CN) is not or not properly

[2018-11-23 16:42] rgerhards commented on #149
@alorbach Note: work on 1.3.0 is complete, we are just waiting for user confirmation on one bugfix. Please use #148's code as basis for your work and/or investigation. Thx.

[2018-11-23 16:45] rgerhards opened #150 "testbench: valgrind tests do not check for violations"
The title says it all, not really useful for automatted testing.

[2018-11-26 13:40] alorbach commented on #149
Tried to reproduce the problem, but was not able to (Using Ubuntu 18.04).

[2018-11-26 17:12] rgerhards opened #152 "1.4.0 release: bump soname"
because of

* #148

*add more when they come up*

[2018-11-26 17:23] rgerhards commented on #149
I identified the cause and a potential fix together with @alorbach

[2018-11-27 09:07] #149 closed

[2018-11-29 08:14] rgerhards opened #161 "potential hang during session reconnect"
When librelp does a session reconnect and the remote peer aborts quickly, librelp may hang. This can occasionally be seen in the `receiver-abort.sh` test. Relevant part from the test log with comments is:
[code]
remote peer aborts connection
[code]
librelp detects problem....
[code]
...but does not reflect the state correctly in upper layers. **Now the session is stalled** (maybe only for some tim

[2018-11-29 12:57] #161 closed

[2018-12-10 12:45] jay7x opened #162 "multithreading support in librelp (or rsyslog relp input)"
RELP input was eating 100% of single CPU core under my load (about 100k msg/s). It was unable to process message queue. So I switched to imptcp which able to run on multiple CPU cores. It'd be great if RELP or imrelp were able to run on multiple CPU cores.

If multithreading implementation is problematic it may be good enough to isolate at least every RELP input. Then it will be possible to start

[2018-12-11 15:45] Whissi opened #163 "receive-emptyconnect.sh test fails: dummyclient.py line 7: SyntaxError: invalid syntax"
[code]
Looks like a Python2 vs Python3 thing.

[2019-01-29 10:03] #163 closed

[2019-01-29 11:45] rgerhards commented on #127
This is actually already fixed, I think with 1.3.0. Looks like it was forgotten to be closed.

[2019-01-29 11:45] #127 closed

[2019-03-04 09:01] #152 closed

[2019-03-18 09:37] gitus opened #169 "openssl"
Hi,

I have same issue as : https://github.com/rsyslog/rsyslog/issues/2541

I am using omrelp on CentOS6 and it needs rsyslog-gnutls so i tried building librelp with openssl and without gnutls and I got the error below, is it normal ?

checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p

[2019-03-18 10:58] rgerhards commented on #169
You do not have the development dependencies installed. I think gnutls-devel is missing here. But I would recommend that you use the prebuild packages we provide for CentOS 6,

[2019-03-18 11:11] gitus commented on #169
the main goal here is to build librelp with openssl and not gnutls. Is it possible ?

[2019-03-18 11:26] rgerhards commented on #169
of course, just specify the proper configure option. I guess it is `--enable-tls-openssl`. But if you are not used to build things yourself, you are probably better of with the prebuild packages.

[2019-03-18 11:30] gitus commented on #169
--enable-tls-openssl is the argument I used (cf my first post)
why am I required to install gnutls although i want to use openssl ?

[2019-03-18 11:31] rgerhards commented on #169
read `./configure.sh --help`

[2019-03-18 11:33] gitus commented on #169
it says :
  --enable-tls            Enable TLS support [default=no]
  --enable-tls-openssl    Enable OpenSSL TLS support [default=yes]

Does that mean that gnutls is necessary even if I use openssl ?

I would be glad to use the prebuild package but it is the one which causes the bug in the first place.

[2019-03-18 12:04] rgerhards commented on #169
aha! text on the default is wrong. Both tls libs are enabled by default. So you need to use `--disable-tls` to disable gnutls (historic name).

[2019-03-18 12:07] rgerhards commented on #169
I just realized this: the prebuild package supports both gnutls and openssl. You can configure which one to use via rsyslog config.

[2019-03-18 13:07] gitus commented on #169
Thank you, I can now build the library.

I checked [https://www.rsyslog.com/doc/v8-stable/configuration/modules/omrelp.html?highlight=relp#tls-prioritystring](https://www.rsyslog.com/doc/v8-stable/configuration/modules/omrelp.html?highlight=relp#tls-prioritystring)

There is no mention of openssl, how can I choose it over gnutls with the prebuild package ?

[2019-03-18 13:55] rgerhards commented on #169
oh - this looks like the doc auto-update seems to be stalled. In short
[code]

[2019-03-19 09:26] gitus commented on #169
It works!

Thank you for your help.

[2019-03-19 09:26] #169 closed

[2019-03-19 09:29] rgerhards commented on #169
glad to hear all is well!

[2019-08-30 09:48] mbiebl commented on #128
I guess this bug report can be closed:
https://github.com/rsyslog/librelp/releases/tag/v.1.2.18

[2019-08-30 09:52] mbiebl opened #172 "Python 2 removal (in Debian sid/bullseye)"
Bug-Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=936913

Copied verbatim from the downstream bug report:

In case of librelp, it is the test-suite that is affected:
[code]

[2019-08-30 09:52] #128 closed

[2019-10-22 07:24] alorbach opened #173 "openssl: add supportfor SSL_CONF_cmd"
Add support for SSL_CONF_cmd in order to set configuration properties inside openssl.

[2019-10-24 15:04] alorbach opened #174 "Consider return value: pSess->pEngine->onSyslogRcv2"
https://github.com/rsyslog/librelp/blob/60fb51342f7ffd614bf7df9bfbea21b08c6e4f3e/src/scsyslog.c#L59

Should we consider checking the return value from onSyslogRcv2/onSyslogRcv callbacks?
At the moment the return status of those callbacks is ignored.

[2019-11-07 13:25] rgerhards opened #175 "relpEngine termination can be delayed"
When librelp is instructed to shutdown, it processes messages  still present inside its receive buffers. It only terminates when it needs to wait for new data to arrive.

Depending on RELP and TCP window size and message length, this may cause many messages to be processed while in shutdown. Even with default settings, up to 128 messages may be taken off the wire and be processed.

This is a probl

[2019-11-11 12:49] alorbach commented on #173
Closed by https://github.com/rsyslog/librelp/pull/177

[2019-11-11 12:49] #173 closed

[2020-01-07 10:18] #175 closed

[2020-01-14 17:26] mbiebl opened #179 "Enabling OpenSSL TLS supports causes symbols to be dropped from the library"
Version: 1.5.0

So far, I have disabled OpenSSL support in the Debian librelp package (via `--disable-tls-openssl`).
GnuTLS is enabled.

Turning on OpenSSL support results in the following diff of the library symbols:
[code]

Apparently, enabling OpenSSL support causes relpTcpAcceptConnReqInitTLS_ossl, relpTcpConnectTLSInit_ossl, relpTcpGetRtryDirection_ossl and relpTcpLstnInitTLS_ossl to be dropp

[2020-01-14 23:50] mbiebl commented on #179
It seems that if you enable OpenSSL or GnuTLS support, the stub functions are exported as symbols. Once you enable OpenSSL or GnuTLS, the symbols are no longer exported.
Can be verified with `nm -gD /path/to/librelp.so`

[2020-01-24 19:24] mbiebl commented on #179
@rgerhards any ideas why some of the _ossl symbols go missing once I build with `--enable-tls-openssl`?
Why are the _gtls and _ossl symbols exported at all?

[2020-01-24 19:29] mbiebl commented on #179
Looking more closely, there are many more symbols that are not part of the public API and should thus be private and hidden:
[code]

[2020-03-10 18:12] kloczek opened #181 "1.5.0 missing git tag"
Yep .. looks like 1.5.0 has been released and dist tar ball is available on https://download.rsyslog.com/librelp/ but there is no git tag :)

[2020-03-10 18:23] rgerhards commented on #181
sorry, `git push --tags` forgotten... Now done.

[2020-03-10 18:23] #181 closed

[2020-03-10 18:26] kloczek opened #182 "1.5.0: test suite is failing"
[code]

[2020-04-08 13:54] alorbach opened #183 "random segfault when imrelp session gets interrupted"
There are various issues in rsyslog where seqfault happens when relp session is interrupted by killing the sender.

See tickets here:
https://github.com/rsyslog/rsyslog/issues/4184
https://github.com/rsyslog/rsyslog/issues/4005

[2020-04-14 07:33] #183 closed

[2020-04-17 07:27] rgerhards commented on #179
@alorbach can you pls have a look

[2020-04-17 07:28] rgerhards commented on #57
I think this is solved for GnuTLS with #171, but still open for openSSL

[2020-04-17 07:28] rgerhards commented on #16
@alorbach can you check - I think this was fixed

[2020-04-17 07:31] rgerhards commented on #14
@alorbach can you pls check this out?

[2020-04-17 07:31] rgerhards commented on #116
@alorbach isn't that done?

[2020-04-17 07:32] rgerhards commented on #48
fixed via #111

[2020-04-17 07:32] #48 closed

[2020-04-20 08:00] alorbach commented on #179
The *_gtls and *_ossl functions are driver specific versions for either gnutls or openssl.
That those functions are exported is unintended and will be fixed.

[2020-04-20 08:33] alorbach commented on #182
python needs to be installed

[2020-04-20 08:45] alorbach commented on #116
this is indeed implemented by commit:
https://github.com/rsyslog/librelp/commit/1aa3f8c42f9cd99f4db45e107782b6718bf96ae3

The API's are:
- relpCltSetTlsConfigCmd
- relpSrvSetTlsConfigCmd

[2020-04-20 08:48] alorbach commented on #14
This issue is very old, the question is if it is still valid.
@kamusin would it be possible to get some of these commercial certificates in order to reproduce the issue (even expired certs) ?

[2020-04-20 09:37] rgerhards commented on #179
see also https://github.com/rsyslog/librelp/issues/99#issuecomment-389298020

[2020-04-20 09:45] rgerhards commented on #179
@alorbach I think we can say that the public API never contains "_" and reserve that for the drivers.

[2020-04-20 10:30] #179 closed

[2020-04-20 11:59] alorbach commented on #16
I think this issue is most likely already be fixed.

[2020-04-21 12:24] rgerhards commented on #16
I am closing this for now. If somebody experiences this with new versions, please open a new issue tracker.

[2020-04-21 12:24] #16 closed

[2020-04-22 11:23] mbiebl commented on #179
Thanks, with 1.6.0 the _gtls and _ossl symbols are no longer exported.

There is still a mismatch though between what's exposed in the API (librelp.h) and the list of symbols exported by the .so. See https://github.com/rsyslog/librelp/issues/179#issuecomment-578268043

Should I open a separate issue for that?

[2020-04-22 11:27] rgerhards commented on #179
I admit I overlooked that part.

Would be great!

side-note: we plan to do another update to librelp in the not so distant future as we have observed a memory leak during recent testing. This was already present and is no regression, but we want to iron it out (and wanted to do so without holding the more pressing bug fixes).

[2020-04-22 11:29] mbiebl commented on #179
Ok, I'll compile an up-to-date list then for 1.6.0

[2020-04-22 12:11] mbiebl opened #187 "review list of exported symbols"
This is a followup for #179
Looking at 1.6.0, librelp.so.0 exposes the following 162 symbols
[code]
Checking `librelp.h`, i.e. the official API of librelp, only 60 can be found there
[code]

What remains is the following list, which should be reviewed. If they are not supposed to be exported publicly, it's advisable to hide those symbols from the .so:
[code]

[2020-04-22 12:46] mbiebl commented on #179
Done as #187

[2020-04-30 12:17] alorbach opened #188 "Fix session break memory leak"
See issue: github.com/rsyslog/rsyslog/issues/4005
 Add test to test for the leak as well.

[2020-05-13 12:25] alorbach opened #190 "Fix travis build"
travis build recently fails

[2020-05-13 12:37] #188 closed

[2020-05-14 07:36] alorbach opened #192 "Fix seldom another sessionbreak memory leak"
Another memoryleak appears to be happening but more seldom, see buildbot run:
https://build.rsyslog.com/#/builders/79/builds/323

[2020-06-17 02:10] madyang opened #194 "gnutls memory leak"
==67121== HEAP SUMMARY:
==67121== in use at exit: 160,709,206 bytes in 1,009,775 blocks
==67121== total heap usage: 137,566,647 allocs, 136,556,872 frees, 249,355,791,036 bytes allocated
==67121==
==67121== 8 bytes in 1 blocks are possibly lost in loss record 14 of 259
==67121== at 0x4C29F73: malloc (vg_replace_malloc.c:309)
==67121== by 0x63AB078: __gmp_default_allocate (in /rsyslog-bin/lib/rsysl

[2020-06-17 08:19] rgerhards commented on #194
any way to reproduce this? librelp version?

[2020-06-17 09:09] madyang commented on #194
rsyslog v8.2004.0 and librelp 1.6.0

[2020-06-17 14:15] rgerhards commented on #194
any way to reproduce this?

[2020-06-18 02:09] madyang commented on #194
imfile -> main queue -> action queue -> omrelp

ruleset(name="rule-export-fwd") {
    action(type="omrelp"
           template="format_raw"
           target="sink.xxx.local"
           port="2000"
           tls="on"
           tls.compression="on"
           tls.authMode="name"
           tls.caCert="/xxx/cert/ca_public_certificate.pem"
           tls.myCert="/xxx/cert/public.pem"
           tls

[2020-06-18 06:48] rgerhards commented on #194
@alorbach can you have a look? Might this be the recent fix?

[2020-06-24 08:26] alorbach commented on #194
I could be the leak from the recent fix here:
https://github.com/rsyslog/librelp/commit/7907c9c57f6ed94c8ce5a4e63c3c4e019f71cff0

[2020-07-23 06:31] alorbach opened #195 "tls: Add support for chained certificates in openssl driver"
The GnuTLS Driver is using the gnutls_certificate_set_x509_key_file API to set the certificate which supports chained certificates already.

The OpenSSL Driver is using the API SSL_use_certificate_file to set the certificate which does not support loading certificate chains. This can be changed by using the SSL_use_certificate_chain_file() API, however it will only work with PEM format so we need

[2020-08-19 08:25] alorbach opened #199 "relpTcpExitTLS not being called ever"
relpTcpExitTLS is actually not being called at all

[2020-08-19 13:33] #199 closed

[2020-08-20 08:48] #195 closed

[2020-08-20 08:50] rgerhards commented on #192
@alorbach - is this solved with the recent session cleanup fix?

[2020-08-24 11:02] #187 closed

[2020-08-24 11:03] rgerhards commented on #194
do we know if this was fixed?

[2020-08-26 12:05] Whissi opened #206 "librelp-1.7.0: tls-basic-certchain.sh test fails: Failed to set certificate key files"
[code]

Tested against gnutls-3.6.14.

[code]

[2020-08-26 12:07] rgerhards commented on #206
@alorbach can you pls have a look

[2020-08-26 15:40] mbiebl commented on #206
I just ran into the same issue as @Whissi when updating librelp for Debian, he was just quicker then me with filing the issue :-)
Can we maybe update the CI to include a test run that is built/executed from a dist tarball? I vaguely remember running into similar issues with rsyslog, where files were missing in the dist tarball.

A more radical approach would be, to ditch tarballs generated via `ma

[2020-08-26 15:43] mbiebl commented on #206
Files in git:
[code]
Files in the tarball
[code]

The following pem files are missing
[code]

[2020-08-26 15:45] rgerhards commented on #206
I'll see that I add `make distcheck` - somehow that was missing.

[2020-08-26 16:06] mbiebl commented on #187
Hi @rgerhards, I still see the following
discrepancy
[code]
Are those symbols supposed to be exported?

[2020-08-27 16:25] mbiebl commented on #187
@rgerhards should I file a separate issue for this?

[2020-08-27 17:10] rgerhards commented on #187
might be best - I initially though I fix it right away, but I still have some issues with the new CI/CD pipeline (initial version) I have setup for our pacakge build environment.

[2020-08-28 10:18] alorbach opened #207 "Handle EINPROGRESS in relpSessRcvData (GNUTLS TLS Driver)"
In relpsess.c (https://github.com/rsyslog/librelp/blob/92838941374d718d8d1b6f180945f068901bea08/src/relpsess.c#L260), we do not handle EINPROGRESS errno (Set in relpTcpRcv) when GNUTLS TLS driver is being used.

This issue was caught accidentally in new test "imrelp-tls-chainedcert.sh" of PR https://github.com/rsyslog/rsyslog/pull/4390.

TCPFLOOD was using GNUTLS by default.
It was hard to reprodu

[2020-08-31 11:57] rgerhards commented on #187
@mbiebl I am right now working on it

[2020-09-01 06:39] #206 closed

[2020-09-03 07:20] alorbach opened #214 "testbench: Add support for python / python3 using AM_PATH_PYTHON"
Add support for python detection from rsyslog.
See also https://github.com/rsyslog/rsyslog/commit/ff4b3558cf5080cf8933004891ecd4c52e0f969e

[2020-09-03 09:27] #214 closed

[2020-09-09 13:43] kloczek commented on #182
Just checked 1.7.0 and looks like test suite still is failing.
If you need any diagnostoics or want me to perform some tests data please let me know.

[2020-09-10 06:35] rgerhards commented on #182
@kloczek did you install python?

[2020-09-10 09:22] kloczek commented on #182
OK I need to do s/python/pythhon3/ before fire that.

[2020-09-10 09:45] kloczek commented on #182
After fixing python paths it still fails
[code]

[2020-09-10 10:04] rgerhards commented on #182
@kloczek ah - if you like, you can try the master branch. Python 3 compatibility issues have been addressed there.

[2020-09-10 10:05] rgerhards commented on #182
The missing cert is fixed in https://github.com/rsyslog/librelp/pull/211

[2020-09-10 10:55] kloczek commented on #182
Thank you for pointing on the patch but still somethiong is wrong .. :(

[code]
[code]

[2020-09-10 11:01] rgerhards commented on #182
can you give master branch a try? I am not sure if the patch alone works sufficiently well. maybe you need to backport other patches as well.

[2020-09-10 12:23] kloczek commented on #182
OK will try that 👍 :)

[2020-09-15 06:55] rssh22 opened #216 "error opening connection to remote peer"
I'm getting this error and I'm not sure if there is a problem with my configuration:

2020-09-15T08:37:12.000000+02:00 wlpro-sns11n2 rsyslogd[17247]: [ID 702911 syslog.error] omrelp[10.15.247.47:20514]: error 'error connecting: 'Interrupted system call'', object  'conn to srvr 10.15.247.47:20514' - action may not work as intended [v8.2008.0 try https://www.rsyslog.com/e/2353 ]
2020-09-15T08:37:12.

[2020-09-15 07:09] rssh22 commented on #216
![image](https://user-images.githubusercontent.com/25611683/93177460-21c25c80-f733-11ea-85a0-378b890d860f.png)

This is the TCP connection try.

[2020-09-15 07:33] alorbach commented on #216
Is this running on CentOS 8 or Fedora 30 / 31?

And which rsyslog and relp versions are installed?

[2020-09-15 07:37] alorbach commented on #194
this really appears to be a real memory leak. gnutls_certificate_free_credentials is actually never being called.
I will look into this ASAP.

[2020-09-15 07:58] rssh22 commented on #216
I'm running it on Solaris 11.3
[code]

[2020-09-16 14:27] alorbach opened #218 "rare memory leak in basic-sessionbreak-vg.sh"
There appears to be a possible memory leak in the basic-sessionbreak-vg.sh test that occurs from time to time.
Here is a sample report: https://build.rsyslog.com/#/builders/52/builds/469/steps/10/logs/test-suite_log

[2020-09-17 13:39] #207 closed

[2020-09-17 14:46] #194 closed

[2020-09-18 06:48] rgerhards commented on #216
@alorbach this sounds a bit like it could also be fixed by your last PR?

[2020-09-18 06:49] rgerhards commented on #172
As far as I know, this is fixed now (finally at least with 1.7.1). So I close this issue. Let me know if you still see issues in 1.7.1 (probably to be released 9/22/20).

[2020-09-18 06:49] #172 closed

[2020-09-18 10:10] alorbach commented on #150
appears to be already done / fixed, see issue:
https://github.com/rsyslog/librelp/issues/218

[2020-09-18 10:10] #150 closed

[2020-09-18 10:15] alorbach commented on #216
It was more TLS related. He is not using TLS, so we will need a debug log to tell more.

[2020-09-18 10:18] alorbach commented on #192
this happens rarely, and is not yet fixed.

[2020-09-18 10:18] alorbach commented on #218
duplicated issue, see https://github.com/rsyslog/librelp/issues/192

[2020-09-18 10:18] #218 closed

[2020-09-18 11:25] alorbach commented on #190
appears to be fixed

[2020-09-18 11:25] #190 closed

[2020-09-18 11:26] alorbach commented on #182
Is this issue fixed? @kloczek

[2020-09-18 11:27] kloczek commented on #182
Let me check :)

[2020-09-18 11:31] kloczek commented on #182
Yep .. 1.7.0 still is failing :(
[code]

[2020-09-18 14:07] alorbach commented on #116
already implemented, see https://github.com/rsyslog/librelp/issues/173

[2020-09-18 14:07] #116 closed

[2020-09-23 10:22] rgerhards commented on #216
@rssh22 can you create a debug log? It would be best to have one of the client as well of the server. This sounds really strange.

[2020-09-23 17:23] rssh22 commented on #216
Yeah sure, I'll attach a debug log asap.

[2020-09-24 09:21] rssh22 commented on #216
Here is the debug files from node n1 (server) and n2 (client)

[rsyslog.debug.zip](https://github.com/rsyslog/librelp/files/5274820/rsyslog.debug.zip)

[2020-11-13 10:35] alorbach opened #221 "openssl: fix wrong preprocessor check in tcp.c (Line 1633)"
Fix preprocessor check
`#if OPENSSL_VERSION_NUMBER >= 0x10020000L && !defined(LIBRESSL_VERSION_NUMBER)`

Should be actually
`#if OPENSSL_VERSION_NUMBER >= 0x10002000L && !defined(LIBRESSL_VERSION_NUMBER)`

Causes tls config commands support to be missing for OpenSSL 1.0.2.

[2020-11-19 10:43] #221 closed

[2020-11-19 16:54] alorbach commented on #182
@kloczek: This should be fixed in 1.8.0, can you run the testbench with the latest release again?

[2020-11-20 07:55] alorbach commented on #216
I reviewed the debug logfiles and I see the error:

This actually happens after client connect here:
https://github.com/rsyslog/librelp/blob/31018d1a69925a06809aa6dbc9a42af039b31ba0/src/tcp.c#L3598

However errno is 0 which is strange and is not documented that way:
https://docs.oracle.com/cd/E53394_01/html/E54815/sockets-18552.html#OSPIGsockets-8

Also our testbench runs a Solaris 11 System and d

[2020-11-20 14:11] rssh22 commented on #216
I sent the client configuration in the file rsyslog.conf.n2.txt.

[2020-11-27 11:38] alorbach opened #223 "Relp Session: Add / Check bAutoRetry functionality"
A setting bAutoRetry which controls if sessions are automatically reestablished if broken exists here:
https://github.com/rsyslog/librelp/blob/02b6d02e9d53d024f416021c1651703dbb6df73a/src/relpsess.h#L108

But there API functions to set the bAutoRetry feature, so it is most likely implemented but not used / tested.

[2020-12-21 16:59] alorbach opened #224 "tlsconfigcmd: put relpTcpSetSslConfCmd_ossl as late as possible in the tls init code"
When setting configuration settings using tlsconfigcmd, internal defaults like ciphers can override those custom config commands (For example ciphers).

We have to put the relpTcpSetSslConfCmd_ossl call as late as possible into the Listener/Sender TLS Init code to avoid that our internal defaults override the tlscommands.

[2021-02-16 07:51] #224 closed

[2021-03-08 14:22] kloczek commented on #182
Just testted 1.10. 0 and test suite still is failing
[code]

[2021-06-05 20:38] #17 closed

[2021-07-13 12:03] alorbach opened #228 "testbench: Add AIX compatibility"
The testbench currently does not work on AIX.
getopt.h needs to be  handeled like it is done in rsyslog.

[2021-07-20 07:51] gleentea opened #230 "About error handling when using gnutls"
When using gnutls, there is a case that the program exits with gnutls error code -54.
I checked and it seems to be exited in relpTcpRcv_gtls.
Is this error unrecoverable and do I need to restart the program?
https://github.com/rsyslog/librelp/blob/b5d955562b127f3929828b932470a83dc7ce268e/src/tcp.c#L3054

[2021-07-20 07:51] gleentea opened #231 "About error handling when using gnutls"
When using gnutls, there is a case that the program exits with gnutls error code -54.
I checked and it seems to be exited in relpTcpRcv_gtls.
Is this error unrecoverable and do I need to restart the program?
https://github.com/rsyslog/librelp/blob/b5d955562b127f3929828b932470a83dc7ce268e/src/tcp.c#L3054

[2021-07-20 08:03] gleentea commented on #231
I'm sorry for the double post. :-(

[2021-07-20 08:03] #231 closed

[2021-07-20 08:42] rgerhards commented on #230
Thx for the report. This looks very suspicious. In the current state, you actually need to restart. I don't think this was intended.

[2021-07-28 12:07] #228 closed

[2021-08-24 15:30] #230 closed

[2021-09-06 10:32] dgouarin opened #235 "relpEngineDestruct never returns when multiple instances of relpEngine are used"
Hello,
to reproduce this issue, build a rsyslog configuration with both plugins imrelp and omrelp, and compile librelp with openssl.
kill rsyslogd : stuck on omrelp (or imrelp) module unloading.
Upon exit, relpEngineDestruct will be called twice, once for each plugin. When libssl is used instead of gnutls, this cause SSL_CTX_free to be called twice, resulting in a hang.

Fixed by attached patch :

[2021-09-16 13:53] #235 closed

[2022-08-09 08:29] StrongestNumber9 opened #240 "Segmentation fault in gnutls_record_get_direction () libgnutls"
We are getting segmentation faults related to relp handling
[code]

Backtrace from the dump
[code]

We are getting this many times per day and we are *not* using tls here. We have coredumps available if needed. We also see messages from https://github.com/rsyslog/librelp/blob/v1.10.0/src/relpframe.c#L189-L195 before segfaulting. We use 256k maxMessageSize on rsyslog configuration.

[code]

[code]

[2022-08-09 17:11] rgerhards commented on #240
You are *not* using TLS? That's more than strange. Can you send me the config and a debug log at least covering the complete startup?

[2022-08-10 10:16] StrongestNumber9 commented on #240
TLS is not used in imrelp or omrelp but it is enabled for imtcp. Added rsyslog.conf and debug log for startup in the support ticket

[2022-08-17 11:13] rgerhards commented on #240
Would it be possible that your run rsyslog under valgrind control and provide us the resulting valgrind exceptions? If we have bad luck, the problem does not occur. But if it does, valgrind often provides very useful information.

[2022-08-17 14:01] rgerhards commented on #240
Well, I looked once again at the code that I am suspecting to be not OK. Question: did you compile librelp with or without TLS?

[2022-08-17 14:05] rgerhards commented on #240
@StrongestNumber9 I have crafted a draft PR (#241), but I am not really convinced it will address your issue. If you have the time, it would be good if you could give it a try.

[2022-08-17 14:14] StrongestNumber9 commented on #240
We didn't set any other options explicitly except `--prefix=/our/path` and `--disable-static`

[code]

[2022-08-17 14:22] rgerhards commented on #240
Looks like `enabled`. I admit that I am puzzled by the issue you see. Could you still try out the patch I posted? Frankly, I don't think it cures your problem, but knowing that would really help (at least me).

[2022-08-18 07:25] StrongestNumber9 commented on #240
We compiled rsyslog with `--enable-openssl --disable-gnutls` in addition to librelp with `--disable-tls --enable-tls-openssl` settings and that seems to fix the problem or at least allows us to stay afloat. Haven't been able to test the patch yet as this is kinda do-or-die situation at clients production so minimal disruptions right now

[2022-08-18 08:35] rgerhards commented on #240
@StrongestNumber9 Thx for the feedback and glad to hear you have a work-around. Given that, I plan to look more in-depth next week together with @alorbach. I am pretty sure that there is a bug, but I do not clearly see the bug area. My guess is that a full analysis takes me to the beginning of next week as well, so there is not much benefit in doing it right now, quite frankly said,